<mat-toolbar fxShow.gt-xs="false" fxShow="true"
  style="background-image: url('../assets/toolbar-background.jpg'); background-size: cover;">
  <div fxLayout="row" fxFlexFill>
    <div fxFlex fxLayout="column" fxLayoutAlign="center begin">
      <h6 style="color: white; font-size: 24px;"><strong>ISU</strong>Corp</h6>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center end">
      <a href="/reservation" style="color: white; font-size: 16px;">&#x25C0; Create Reservation</a>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar fxShow.gt-xs="true" fxShow="false" style="background-color: #E2E3E4">
  <div fxLayout="row wrap" fxFlexFill>
    <div fxFlex=20 fxLayout="column" fxLayoutAlign="start start">
      <h6 style="color: #C26665; font-size: 24px;">Reservations List</h6>
    </div>

    <div fxFlex=60 fxLayout="column" fxLayoutAlign="start center">
      <p style="font-size: 12px;">
        <!-- Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et -->
        <!-- dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet -->
        <!-- clita -->
        <!-- kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. -->
      </p>
    </div>

    <div fxFlex=20 fxLayout="column" fxLayoutAlign="center end">
      <button mat-raised-button color="primary" type="button" onclick="location.href='/reservation'">Create
        Reservation</button>
    </div>
  </div>
</mat-toolbar>

<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="reservations">

    <!-- Contact Name Column -->
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.contact.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
