<mat-toolbar fxShow.gt-xs="false" fxShow="true"
  style="background-image: url('../assets/toolbar-background.jpg'); background-size: cover;">
  <div fxLayout="row" fxFlexFill>
    <div fxFlex fxLayout="column" fxLayoutAlign="center begin">
      <h6 style="color: white; font-size: 24px;"><strong>ISU</strong>Corp</h6>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center end">
      <a href="/reservation" style="color: white; font-size: 16px;">&#x25C0; Create Reservation</a>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar fxShow.gt-xs="true" fxShow="false" style="background-color: #E2E3E4">
  <div fxLayout="row" fxFlexFill>
    <div fxFlex=20 fxLayout="column" fxLayoutAlign="start start">
      <h6 style="color: #C26665; font-size: 24px;">Reservations List</h6>
    </div>

    <div fxFlex=60 fxLayout="column" fxLayoutAlign="start center">
      <p style="font-size: 12px;">
        <!-- Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et -->
        <!-- dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet -->
        <!-- clita -->
        <!-- kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. -->
      </p>
    </div>

    <div fxFlex=20 fxLayout="column" fxLayoutAlign="center end">
      <button mat-raised-button color="primary" type="button" onclick="location.href='/reservation'">CREATE
        RESERVATION</button>
    </div>
  </div>
</mat-toolbar>

<div class="mat-elevation-z8">

  <mat-list>
    <mat-list-item *ngFor="let reservation of reservations">
      <div matLine>
        <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between" style="background-color: #DBDCDD;">

          <div fxFlex="25" fxFlex.xs="50" fxLayout="column">
            <div fxLayout="row">
              <strong> {{reservation.contact.name}} </strong>
            </div>
            <div fxLayout="row" style="font-size: 12px;">
              {{reservation.date | date: 'E, MMMM d At hh:mm a'}}
            </div>
          </div>

          <div fxFlex="25" fxLayout="column" fxShow.gt-xs="true" fxShow="false">
            <div fxLayout="row">
              Ranking
            </div>
            <div fxLayout="row">
              <ngx-stars [initialStars]="reservation.stars" (ratingOutput)="onRatingClick($event, reservation)">
              </ngx-stars>
            </div>
          </div>

          <div fxFlex="10" fxLayout="column" fxLayoutAlign="center end" (click)="onFavoriteClick(reservation)">
            <div fxLayout="row">
              <div fxLayout="column" fxShow.gt-xs="true" fxShow="false">
                <label [ngStyle]="{'color': reservation.favorite ? 'grey': 'black'}">Add Favorites</label>
              </div>
              <div fxLayout="column">
                <mat-icon aria-label="Favorite" [ngStyle]="{'color': reservation.favorite ? 'red': 'grey'}">favorite
                </mat-icon>
              </div>
            </div>
          </div>

          <div fxFlex="10" fxLayout="column" fxLayoutAlign="center end">
            <button mat-raised-button color="primary" type="button"
              [routerLink]="['/reservation/', reservation.id]">EDIT</button>
          </div>

        </div>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

</div>
