<form [formGroup]="formContact" (ngSubmit)="onContactSubmit()">

  <mat-form-field appearance="fill">
    <input matInput type="text" placeholder="Contact Name..." formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select placeholder="Contact Type" formControlName="type">
      <mat-option *ngFor="let ctype of typeContact" [value]="ctype.value">{{ctype.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput type="text" placeholder="Phone:" formControlName="phone" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Send</button>

</form>
