<div class="container">
  <table class="table" style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Phone</th>
        <th>Birthday</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact.name}}</td>
        <td>{{contact.type}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.birthday}}</td>
        <td>
          <button (click)="editContact(contact.id)" class="btn btn-default btn-sm"><span
              class="glyphicon glyphicon-edit"></span></button>
          &nbsp;|&nbsp;
          <button (click)="deleteContact(contact.id)" class="btn btn-default btn-sm"><span
              class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
      <tr *ngIf="!contacts">
        <td colspan="4">Loading... Please wait....</td>
      </tr>
      <tr *ngIf="contacts && contacts.length == 0">
        <td colspan="4">No records found!</td>
      </tr>
    </tbody>
  </table>
</div>
