<mat-toolbar fxShow.gt-xs="true" fxShow="false"
  style="background-image: url('../assets/toolbar-background.jpg'); background-size: cover; height: 100px">

  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center">
      <h1 style="color: white; font-size:64px;"><strong>ISU</strong>Corp</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
      <div fxLayout="row" fxFlex="20">
        <p style="color: white; font-size:16px;">World Class</p>
      </div>
      <div fxLayout="row" fxFlex="30">
        <p style="color: white; font-size:16px;">Software Development</p>
      </div>
    </div>
  </div>

</mat-toolbar>

<div style="background-color: #EFEFEF;">
  <router-outlet></router-outlet>
</div>
