<app-top-banner [pageName]="pageName" [gotoName]="gotoName" [gotoLink]="gotoLink" [gotoIcon]="gotoIcon">
</app-top-banner>

<div fxLayout="row" fxLayoutAlign="end">
  <div fxLayout="column">
    <button mat-raised-button [disabled]="contactListVisible" color="primary" type="button"
      (click)="onShowContactList()">List</button>
  </div>
  <div fxLayout="column">
    <button mat-raised-button color="primary" type="button" onclick="location.href='/contact'">Create</button>
  </div>
</div>

<form [formGroup]="formReservation" (ngSubmit)="onReservationSubmit()">

  <!-- Insert ContactComponent here, without Submit button -->
  <app-form-contact [formContact]="formContact"></app-form-contact>

  <!-- Insert ContactListComponent here, hidden at first -->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column">
      <app-contact-list [contactsData]="contacts" *ngIf="contactListVisible"></app-contact-list>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column">
      <quill-editor matInput [styles]="{height: '200px'}" formControlName="description"></quill-editor>
    </div>
  </div>

  <app-form-submit></app-form-submit>

</form>
