<mat-toolbar fxShow.gt-xs="false" fxShow="true"
  style="background-image: url('../assets/toolbar-background.jpg'); background-size: cover;">
  <div fxLayout="row" fxFlexFill>
    <div fxFlex fxLayout="column" fxLayoutAlign="center begin">
      <h6 style="color: white; font-size: 24px;"><strong>ISU</strong>Corp</h6>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center end">
      <a href="/reservations" style="color: white; font-size: 16px;">Reservations List &#x25B6;</a>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar fxShow.gt-xs="true" fxShow="false" style="background-color: #E2E3E4">
  <div fxLayout="row" fxFlexFill>
    <div fxFlex=20 fxLayout="column" fxLayoutAlign="center begin">
      <h6 style="color: #C26665; font-size: 24px;">Create Reservation</h6>
    </div>

    <div fxFlex=60 fxLayout="column" fxLayoutAlign="center center">
    </div>

    <div fxFlex=20 fxLayout="column" fxLayoutAlign="center end">
      <button mat-raised-button color="primary" type="button" onclick="location.href='/reservations'">RESERVATIONS
        LIST</button>
    </div>
  </div>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="end">
  <div fxLayout="column">
    <button mat-raised-button [disabled]="contactListVisible" color="primary" type="button"
      (click)="onShowContactList()">List</button>
  </div>
  <div fxLayout="column">
    <button mat-raised-button color="primary" type="button" onclick="location.href='/contact'">Create</button>
  </div>
</div>

<form [formGroup]="formReservation" (ngSubmit)="onReservationSubmit()">

  <!-- Insert ContactComponent here, without Submit button -->
  <app-form-contact [formContact]="formContact"></app-form-contact>

  <!-- Insert ContactListComponent here, hidden at first -->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column">
      <app-contact-list *ngIf="contactListVisible"></app-contact-list>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column">
      <quill-editor matInput [styles]="{height: '200px'}" formControlName="description"></quill-editor>
    </div>
  </div>

  <app-form-submit></app-form-submit>

</form>
